* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    height: 90px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav a{
    color: white;
    text-decoration: none;

}

.nav a:hover {
    color: rgb(112, 112, 221);
    text-decoration: underline;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.logotive{
    margin-right: 200px;
}
